apiVersion: v1
kind: Service
metadata:
  name: os-service
  namespace: os-service
  labels:
    app: os-service
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: os-service
